<table>
  <thead>
    <tr>
      <th>N°</th>
      <th>Nombre</th>
      <th>Correo Electrónico</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr> 
      <td>{{idUser}}</td>
      <td>{{nombre}}</td>
      <td>{{correo}}</td>
      <td>
        <a href="/edit/{{_id}}">Editar</a>
        <a href="/delete/{{_id}}">Eliminar</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
