<table>
  <thead>
    <tr>
      <th>N°</th>
      <th>Nombre</th>
      <th>Correo Electrónico</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr> 
      <td>{{idUser}}</td>
      <td>{{nombre}}</td>
      <td>{{correo}}</td>
      <td>
        {{!-- <form action="/user/{{idUser}}" method="GET">
          <button type="submit">Editar</button>
        </form>
        <form action="/user/{{idUser}}" method="POST">
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit">Eliminar</button>
        </form> --}}
        <a href="/edit/{{_id}}">Editar</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
